<nav class="navbar bg-light">
  <div class="container-fluid">
        <a href="/"><img 
            src="/images/COMPU-GADBIZZLogo.png"
            alt="logo"
            style="width: 80px;"
        /></a>
  </div>
  </nav>
<div>
    <h2>Hola,</h2>
<p>Ingresa tu nueva contraseña:</p>
<form method="post" action="/send/resetPassword" >
<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Password</label>
  </div>
  <div class="col-auto">
    <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpInline">
  </div>
  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Cambiar</button>
  </div>
  </form>
</div>

